html {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    font-size: 1.4rem;
    width: 800px;
    margin: 0 auto;
    min-height: 100vh;
    background-color: #FFF6F6;
}

/* TOP */

.top {
    width: 100%;
    height: 120px;
}


.top-container {
    margin: 0 auto;
    width: 300px;
}

.top_logo {
    display: flex;
    justify-content: center;
}

.top_logo img {
    width: 100px;
}

.top_greeting {
    font-weight: 700;
    text-align: center;
}

/* MID */

.mid {
    height: 75vh;
}

.mid-container, .mid_chating {
    height: 100%;
}

.mid_chating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* Chating list */
#chating_list {
    padding: 0 12px;
    overflow-y: scroll;
}

.message {
    margin-top: 12px;
    width: fit-content;
    max-width: 50%;
    text-align: justify;
    background-color: #E1B8B8;
    font-size: 1.8rem;
    font-weight: 500;
    padding: 6px;
    border-radius: 8px;
}
.message p {
    word-wrap: break-word; /* Hoặc bạn có thể dùng word-break: break-all; */
}
.message.user-message {
    margin-left: auto;
}

/* Input chat */
#input-chating {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.input_container {
    position: relative;
    display: flex;
    width: 80%;
    background-color: #E1B8B8;
    border-radius: 20px;
    padding: 12px 12px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.input_container textarea {
    resize: none;
    outline: none;
    font-size: 1.6rem;
    background-color: transparent;
    height: 20px;
    flex-grow: 1;
    border: none;
}

#input_action {
    color: #FFF6F6;
    text-align: center;
    padding: 4px;
    font-weight: 700;
    border-radius: 5px;
    background-color:dodgerblue;
    cursor: pointer;
    height: fit-content;
}

#input_action:hover {
    filter: brightness(90%);
}

/* chat loading */
.chat-loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #E1B8B8;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hiden {
    display: none !important;
}

/* Footer */

.footer {
    margin-top: 12px;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: underline;
    text-align: center;
}


/* 2 thằng bạn thân ai nấy lo của tôi là cương và huy. cương yêu huy say đắm giờ tôi phải làm thế nào */