{% extends 'base_ui.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}HUMG chuẩn đoán bệnh{% endblock %}</title>

    <link rel="shortcut icon" href="{% static 'imgs/logo_humg.jpg' %}" type="image/x-icon">

    {% block importCSS %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    {% endblock %}
</head>

<body>
    {% block content %}
    <!-- Header -->
    <div class="header margin-t-24 width-80vw center-hoz">
        <div class="text fz-30 text-black">Bạn muốn làm gì ?</div>
    </div>

    <!-- option list -->
     <div class="container width-80vw center-hoz">
        <div class="list lis-direction-column width-fit center-hoz margin-t-24">
            <div id="predict_option" class="list-items btn-effect btn-effect-grow padding-all-12 margin-t-12 border-radius-6 bg-green-2">
                <div class="text fz-20 text-white text-align-center">Chuẩn đoán bệnh</div>
            </div>
            <div class="list-items btn-effect btn-effect-grow padding-all-12 margin-t-12 border-radius-6 bg-green-2">
                <div class="text fz-20 text-white text-align-center">Tra cứu thông tin bệnh</div>
            </div>
            <div class="list-items btn-effect btn-effect-grow padding-all-12 margin-t-12 border-radius-6 bg-green-2">
                <div class="text fz-20 text-white text-align-center">Nhận diện bệnh bằng hình ảnh</div>
            </div>
        </div>
     </div>

    <!-- Overlay -->
    <div id="choosePredictType" class="over_display">
        <div class="over_container">
            <div class="header margin-t-12">
                <div class="text fz-26 text-black text-align-center">
                    Chọn kiểu chuẩn đoán
                </div>
            </div>
            <div class="over_options">
                <div class="over_options_items">
                    <a href="prediction/chat/">chatBOT</a>
                </div>
                <div class="over_options_items">
                    <a href="prediction/select/">chọn triệu trứng</a>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block importJS %}
    <script type="module" src="{% static 'js/home.js' %}"></script>
    {% endblock %}

</body>

</html>