{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'app/imgs/logo_humg.jpg' %}" type="image/x-icon">
    <title>{% block title %} {% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'app/css/root.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/navbar.css' %}">
    {% block importCSS %} {% endblock %}
</head>
<body>
    <div id="main-navbar" class="navbar">
        <div class="navbar_container">
            <div class="navbar_items left">
                <a id="previous-page" class="text fz-16" >Trang trước</a>
            </div>

            
            <div class="navbar_items center">
                <span class="text text-white fz-18 w-700">HUMG disease prediction system</span>
            </div>

            <div class="navbar_items right">
                <a href="/">
                    <img id="img-logo" src="{% static 'app/imgs/house-solid.svg' %}" alt="Home">
                </a>
            </div>
        </div>
    </div>
    {% block content %}

    {% endblock %}

    <script src="{% static 'app/js/navbar.js' %}"></script>
    {% block importJS %} {% endblock %}
</body>
</html>