{% extends 'base_ui.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Chi tiết post {% endblock %}</title>
    {% block importCSS %}
    <link rel="stylesheet" href="{% static 'app/css/post_view_page.css' %}">
    {% endblock %}
</head>
<body>
    {% block content %}
    <div class="post-container">
        <div class="post-category-path">
            <a href="/" class="post-path-components">
                Trang chủ >
            </a>
            <a href="/post/page" class="post-path-components">
                Trung tâm tài liệu >
            </a>
            <a href="#" class="post-path-components">
                Phân loại
            </a>
        </div>
        <div class="dash-line das-color-theme"></div>
        <div class="post-header">
            <div class="post-title">
                <h1>{{post.title}}</h1>
            </div>
        </div>
        <div class="post-content">
            {{post.content | safe}}
        </div>
    </div>
    {% endblock %}
</body>
</html>