

#chat-container {
    min-height: 70vh;
    /* max-height: 80vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.chat-message-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    margin-top: 24px;
}

/* message */
.message {
    display: inline-block;
    max-width: 60%;
    border-radius: 6px;
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.1);
    word-wrap: break-word; /* Đảm bảo văn bản xuống dòng nếu quá dài */
    overflow-wrap: break-word;
}

.message.bot {
    margin: 12px auto 0 0;
}

.message.user {
    margin: 12px 0 0 auto;
}

.message-text {
    text-align: justify;
    font-size: 1.4rem;
    font-weight: 600;
}



.chat-input-container {
    display: flex;
    align-items: center;
    width: 80%;
    padding: 8px 24px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 12px;
    margin-top: 12px;
}

.input-field {
    padding: 4px 6px;
    flex-grow: 1;
}


/* textarea */
#chat-input {
    color: #fff;
    font-size: 1.6rem;
    width: 100%;
    height: 30px;
    resize: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    overflow: hidden;
}

.input-action {
    cursor: pointer;
    align-self: flex-end;
    text-align: center;
    padding: 12px;
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: 12px;
    color: #fff;
    background-color: var(--theme-green-4);
}

.input-action:hover {
    filter: brightness((80%));
}


