
:root {
    --base-col: 8.3333%;
}
.grid {
    display: block;
    width: 100%;
    padding: 0;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}

.row.straight-center {
    align-items: center;
    justify-content: center;
}

.row.no-gutters {
    margin-left: 0;
    margin-right: 0;
}

.col {
    padding-left: 4px;
    padding-right: 4px;
}

.row.no-gutters .col {
    padding-left: 0;
    padding-right: 0;
}

.l-0 {
    display: none;
}

.l-1 {
    flex: 0 0 calc(var(--base-col) * 1);
    max-width: calc(var(--base-col) * 1);
}

.l-2 {
    flex: 0 0 calc(var(--base-col) * 2);
    max-width: calc(var(--base-col) * 2);
}

.l-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.l-4 {
    flex: 0 0 calc(var(--base-col) * 4);
    max-width: calc(var(--base-col) * 4);
}

.l-6 {
    flex: 0 0 50%;
}

.l-12 {
    flex: 0 0 100%;
    max-width: 100%;
}