:root {
    --base-col: 8.3333%;
}

.grid {
    display: block;
    width: 100%;
    padding: 0;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}

.row.straight-center {
    align-items: center;
    justify-content: center;
}

.row.no-gutters {
    margin-left: 0;
    margin-right: 0;
}

.col {
    padding-left: 4px;
    padding-right: 4px;
}

.row.no-gutters .col {
    padding-left: 0;
    padding-right: 0;
}

/* xs (extra small) breakpoint */
@media (min-width: 375px) {

    .xs-0 {
        display: none;
    }

    .xs-1 {
        display: initial;
        flex: 0 0 calc(var(--base-col) * 1);
        max-width: calc(var(--base-col) * 1);
    }

    .xs-2 {
        display: initial;
        flex: 0 0 calc(var(--base-col) * 2);
        max-width: calc(var(--base-col) * 2);
    }

    .xs-3 {
        display: initial;
        flex: 0 0 calc(var(--base-col) * 3);
        max-width: calc(var(--base-col) * 3);
    }

    .xs-4 {
        display: initial;
        flex: 0 0 calc(var(--base-col) * 4);
        max-width: calc(var(--base-col) * 4);
    }

    .xs-5 {
        display: initial;
        flex: 0 0 calc(var(--base-col) * 5);
        max-width: calc(var(--base-col) * 5);
    }

    .xs-6 {
        display: initial;
        flex: 0 0 calc(var(--base-col) * 6);
        max-width: calc(var(--base-col) * 6);
    }

    .xs-7 {
        display: initial;
        flex: 0 0 calc(var(--base-col) * 7);
        max-width: calc(var(--base-col) * 7);
    }

    .xs-8 {
        display: initial;
        flex: 0 0 calc(var(--base-col) * 8);
        max-width: calc(var(--base-col) * 8);
    }

    .xs-9 {
        display: initial;
        flex: 0 0 calc(var(--base-col) * 9);
        max-width: calc(var(--base-col) * 9);
    }

    .xs-10 {
        display: initial;
        flex: 0 0 calc(var(--base-col) * 10);
        max-width: calc(var(--base-col) * 10);
    }

    .xs-11 {
        display: initial;
        flex: 0 0 calc(var(--base-col) * 11);
        max-width: calc(var(--base-col) * 11);
    }

    .xs-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* S breakpoint */
@media (min-width: 576px) {

    .s-0 {
        display: none;
    }

    .s-1 {
        display: initial;
        flex: 0 0 calc(var(--base-col) * 1);
        max-width: calc(var(--base-col) * 1);
    }

    .s-2 {
        display: initial;
        flex: 0 0 calc(var(--base-col) * 2);
        max-width: calc(var(--base-col) * 2);
    }

    .s-3 {
        display: initial;
        flex: 0 0 calc(var(--base-col) * 3);
        max-width: calc(var(--base-col) * 3);
    }

    .s-4 {
        display: initial;
        flex: 0 0 calc(var(--base-col) * 4);
        max-width: calc(var(--base-col) * 4);
    }

    .s-5 {
        display: initial;
        flex: 0 0 calc(var(--base-col) * 5);
        max-width: calc(var(--base-col) * 5);
    }

    .s-6 {
        display: initial;
        flex: 0 0 calc(var(--base-col) * 6);
        max-width: calc(var(--base-col) * 6);
    }

    .s-7 {
        display: initial;
        flex: 0 0 calc(var(--base-col) * 7);
        max-width: calc(var(--base-col) * 7);
    }

    .s-8 {
        display: initial;
        flex: 0 0 calc(var(--base-col) * 8);
        max-width: calc(var(--base-col) * 8);
    }

    .s-9 {
        display: initial;
        flex: 0 0 calc(var(--base-col) * 9);
        max-width: calc(var(--base-col) * 9);
    }

    .s-10 {
        display: initial;
        flex: 0 0 calc(var(--base-col) * 10);
        max-width: calc(var(--base-col) * 10);
    }

    .s-11 {
        display: initial;
        flex: 0 0 calc(var(--base-col) * 11);
        max-width: calc(var(--base-col) * 11);
    }

    .s-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}


/* M breakpoint */
@media (min-width: 768px) {

    .m-0 {
        display: none;
    }

    .m-1 {
        display: initial;
        flex: 0 0 calc(var(--base-col) * 1);
        max-width: calc(var(--base-col) * 1);
    }

    .m-2 {
        display: initial;
        flex: 0 0 calc(var(--base-col) * 2);
        max-width: calc(var(--base-col) * 2);
    }

    .m-3 {
        display: initial;
        flex: 0 0 calc(var(--base-col) * 3);
        max-width: calc(var(--base-col) * 3);
    }

    .m-4 {
        display: initial;
        flex: 0 0 calc(var(--base-col) * 4);
        max-width: calc(var(--base-col) * 4);
    }

    .m-5 {
        display: initial;
        flex: 0 0 calc(var(--base-col) * 5);
        max-width: calc(var(--base-col) * 5);
    }

    .m-6 {
        display: initial;
        flex: 0 0 calc(var(--base-col) * 6);
        max-width: calc(var(--base-col) * 6);
    }

    .m-7 {
        display: initial;
        flex: 0 0 calc(var(--base-col) * 7);
        max-width: calc(var(--base-col) * 7);
    }

    .m-8 {
        display: initial;
        flex: 0 0 calc(var(--base-col) * 8);
        max-width: calc(var(--base-col) * 8);
    }

    .m-9 {
        display: initial;
        flex: 0 0 calc(var(--base-col) * 9);
        max-width: calc(var(--base-col) * 9);
    }

    .m-10 {
        display: initial;
        flex: 0 0 calc(var(--base-col) * 10);
        max-width: calc(var(--base-col) * 10);
    }

    .m-11 {
        display: initial;
        flex: 0 0 calc(var(--base-col) * 11);
        max-width: calc(var(--base-col) * 11);
    }

    .m-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* L breakpoint */
@media (min-width: 992px) {
    .l-0 {
        display: none;
    }

    .l-1 {
        display: initial;
        flex: 0 0 calc(var(--base-col) * 1);
        max-width: calc(var(--base-col) * 1);
    }

    .l-2 {
        display: initial;
        flex: 0 0 calc(var(--base-col) * 2);
        max-width: calc(var(--base-col) * 2);
    }

    .l-3 {
        display: initial;
        flex: 0 0 calc(var(--base-col) * 3);
        max-width: calc(var(--base-col) * 3);
    }

    .l-4 {
        display: initial;
        flex: 0 0 calc(var(--base-col) * 4);
        max-width: calc(var(--base-col) * 4);
    }

    .l-5 {
        display: initial;
        flex: 0 0 calc(var(--base-col) * 5);
        max-width: calc(var(--base-col) * 5);
    }

    .l-6 {
        display: initial;
        flex: 0 0 calc(var(--base-col) * 6);
        max-width: calc(var(--base-col) * 6);
    }

    .l-7 {
        display: initial;
        flex: 0 0 calc(var(--base-col) * 7);
        max-width: calc(var(--base-col) * 7);
    }

    .l-8 {
        display: initial;
        flex: 0 0 calc(var(--base-col) * 8);
        max-width: calc(var(--base-col) * 8);
    }

    .l-9 {
        display: initial;
        flex: 0 0 calc(var(--base-col) * 9);
        max-width: calc(var(--base-col) * 9);
    }

    .l-10 {
        display: initial;
        flex: 0 0 calc(var(--base-col) * 10);
        max-width: calc(var(--base-col) * 10);
    }

    .l-11 {
        display: initial;
        flex: 0 0 calc(var(--base-col) * 11);
        max-width: calc(var(--base-col) * 11);
    }

    .l-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
