

.navbar {
    width: 80vw;
    height: 50px;
    margin: 0 auto;
    background-color: var(--theme-green-2);
}

.navbar.fixed {
    position: fixed;
    left: 50%; /* Đưa phần tử vào giữa màn hình */
    transform: translateX(-50%); /* Dịch chuyển về chính giữa */
    z-index: 1000;
}

.navbar_container {
    width: inherit;
    height: inherit;
    padding: 0 12px;
    display: flex;
    align-items: center;
}

.navbar_items {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.navbar_items a {
    color: #fff;
    font-weight: 700;
}


#img-logo {
    width: 30px;
}


#previous-page {
    cursor: pointer;
}

#previous-page:hover {
    filter: brightness(80%);
}

.blockContentV2 {
    width: 80vw;
    margin: 0 auto;
    height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
}