{% extends 'base_ui.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Chuẩn đoán bệnh - chat{% endblock %}</title>

    {% block importCSS %}
    <link rel="stylesheet" href="{% static 'app/css/chat_page.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/grid.css' %}">
    {% endblock %}
</head>

<body>
    {% block content %}
    <div class="width-80vw center-hoz">
        <div class="container">
            <div id="chat-container">
                <div class="chat-message-container">
                    <div class="message user">
                        <div class="message-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Error accusantium dolorem numquam
                            hic ab quasi saepe magnam quia impedit itaque tempore voluptate dignissimos harum culpa
                            provident, sint unde laborum modi!
                        </div>
                    </div>
                    <div class="message bot">
                        <div class="message-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Error accusantium dolorem numquam
                            hic ab quasi saepe magnam quia impedit itaque tempore voluptate dignissimos harum culpa
                            provident, sint unde laborum modi!
                        </div>
                    </div>
                    <div class="message bot">
                        <div class="message-text">
                            Lorem
                        </div>
                    </div>
                </div>
                <div class="chat-input-container">
                    <div class="input-field">
                        <textarea name="chat-input" id="chat-input"></textarea>
                    </div>
                    <div class="input-action">
                        Gửi
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block importJS %}
    <script src="{% static 'app/js/chat_page.js' %}"></script>
    {% endblock %}

</body>

</html>