{% extends 'base_ui.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Chi tiết post {% endblock %}</title>
    {% block importCSS %}
    <link rel="stylesheet" href="{% static 'app/css/post_view_page.css' %}">
    {% endblock %}
</head>
<body>
    {% block content %}
    <div class="post-container">
        {{post.content | safe}}
    </div>
    {% endblock %}
</body>
</html>