{% extends 'base_ui.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Chuẩn đoán bệnh - lựa chọn triệu chứng{% endblock %}</title>

    {% block importCSS %}
    <link rel="stylesheet" href="{% static 'app/css/select_page.css' %}">
    {% endblock %}
</head>

<body>
    {% block content %}
    <div class="selected-container">
        <!-- Header -->
        <div class="selected_header">
            <span class="text text-black fz-26 w-700">Chọn triệu chứng</span>
        </div>
        <div class="dash-line das-color-theme"></div>
        <!-- selected symptom list -->
        <div id="selected_list" class="list lis-direction-row">
            <!-- add symptom -->
            <div id="plus-symptom" class="list-items end">
                <img src="{% static 'app/imgs/plus-solid.svg' %}" alt="Plus">
            </div>

            <!-- <div class="selected_list_items list-items">
                <span class="text fz-18 text-white">text</span>
                <div class="list_items_actions">
                    <span>x</span>
                </div>
            </div> -->
        </div>
        <!-- selected action -->
         <div id="selected-action">
            <div class="btn-container center-hoz">
                <div id="selected-btn" class="btn text fz-20">Chuẩn đoán</div>
            </div>
         </div>
    </div>
    <!-- Choose Symptom display -->
    <div id="select-overlay" class="over-display hiden bg-dark-0">
        <div class="over_container bg-white-0">
            <div class="header header-h-50">
                <span class="header-text">
                    <div class="text fz-20">Danh sách triệu chứng</div>
                </span>
            </div>
            <div class="dash-line das-color-theme"></div>
            <div class="filter">
                <div class="filter-option">
                    <div class="filter-label">
                        <div class="text fz-16">
                            Phân theo
                        </div>
                    </div>
                    <div class="filter-select">
                        <select name="filter-select" id="filter-type">
                            <option value="all">Tất cả</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="dash-line das-color-theme"></div>
            <div id="select-form" class="list lis-direction-column">
                <!-- <div value = "test" type = "a" class="list-items">
                    <div class="form-options">
                        <span class="text fz-18 w-500">Ngứa da</span>
                    </div>
                </div> -->
            </div>
            <div id="select-actions">
                <div id="select-actions-submit" class="btn">
                    <span class="text fz-20 text-white">OK</span>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block importJS %}
    <script type="module" src="{% static 'app/js/select_page.js' %}"></script>
    {% endblock %}
</body>

</html>